<h4>Directives d'attributs custom</h4>
<p class="left-align light">Attention que les custom directives, sont ou, dans leur module, ou dans le shared !!!!</p>

<div class="row">
    <div class="col m12">
        <div class="card blue-grey darken-1">
            <div class="card-content">
                <span class="card-title">Directive Custom</span>
                <p appRender>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum repellendus, vel quibusdam harum accusamus quo quaerat labore recusandae et eligendi distinctio eius doloribus consequatur cum facilis ut. Aliquam, debitis repudiandae?</p>
                <p [appHightlight]="'not-allowed'" defaultLiner="yellow" defaultColor="red">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum repellendus, vel quibusdam harum accusamus quo quaerat labore recusandae et eligendi distinctio eius doloribus consequatur cum facilis ut. Aliquam, debitis repudiandae?</p>
            </div>
        </div>
    </div>
</div>