
<body>
    <div class="container">

        <!-- First Card -->
        <div class="card" id="test">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-gamepad" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://www.linkedin.com/in/adamdipinto/" target="_blank">Obs 1</a>
                    </h3>
                    <button (click)="login()" *ngIf="!isConnected" class="btn green darken-1">LogIn</button>
                    <button (click)="logout()" *ngIf="!isConnected" class="btn green darken-1">LogOut</button>
                </div>
            </div>
        </div>

        <!-- Second Card -->
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-btc" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://twitter.com/AdamDipinto" target="_blank">@AdamDipinto</a>
                    </h3>
                    <p>This is where I read news and network with different social groups.</p>
                </div>
            </div>
        </div>

        <!-- Third Card -->
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <i class="fa fa-apple" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://github.com/atom888" target="_blank">atom888</a>
                    </h3>
                    <p>This is where I share code and work on projects.</p>
                </div>
            </div>
        </div>
    </div>
</body>